
<div class="row text-center">
    <div class="col">
        <a asp-action="BusSystem" asp-controller="Home" class="btn btn-primary">Bus Ticket</a>
        <a asp-action="TrainSystem" asp-controller="Train" class="btn btn-primary">Train Ticket</a>
        <a asp-action="PlaneSystem" asp-controller="Plane" class="btn btn-primary">Plane Ticket</a>
    </div>
</div>